%h1="#{current_member.name}さんの評価"

- @questions.each do |q|
  %dl
    %dt= q.subtitle
    - if q.text?
      %dd
        %ul
          - q.my_answers.each do |a|
            %li=a.body
    - if q.radio_5?
      %dd
        = "平均点：#{q.my_answers.average(:score).to_f.round(2)}"
        %br
        - a = q.my_answers.where("score is not null").pluck(:score)
        = "中央値：#{a.size % 2 == 0 ? a[a.size/2 - 1, 2].inject(:+) / 2.0 : a[a.size/2]}"	
