%h1="#{current_member.name}さんの評価"

  %dl
    %dt 会社、事業に貢献していますか？
      %dd


- @questions.each do |q|
  %dl
    %dt= q.subtitle
    - if q.text?
      %dd
        %ul
          - q.my_answers.each do |a|
            %li
              = "回答月：#{a.created_at.strftime('%Y-%m')}"
              = "回答文：#{a.body}"
    - if q.radio_5?
      - @my_scores.each do |s|
        %dd
          = "年月：#{s.date}"
          = "平均点：#{s.average}"
          = "NPS：#{s.nps}"
